<div class="chart-popup" style="display: block;">
  <div class="chart-popup-inner">
      <div class="chart-popup-header">
          <div class="chart-popup-title">차트팝업</div>
          <button type="button" class="chart-popup-close" title="닫기"><i class="svg-icon ico-close-bold"></i></button>
      </div>
      <div class="chart-popup-content">
          <nav class="chart-navs">
              <button class="active" title="선택 됨">차트1</button>
              <button>차트2</button>
              <button>차트3</button>
              <button>차트4</button>
          </nav>
          <div class="chart-area">차트 영역</div>
      </div>
  </div>
</div>